@using FuelPrice.Api.Models
@inherits LayoutComponentBase

<div class="card2">
  <div class="header">
    <div class="title">
      <h2>@PetrolStation.Name</h2>
      <p>@PetrolStation.Brand</p>
    </div>
  </div>

  <div class="card-details">
    <div class="anschrift">
      <p>@PetrolStation.Street @PetrolStation.HouseNumber</p>
      <p>@PetrolStation.PostCode @PetrolStation.Place</p>
    </div>

    <div class="preise">
      <div class="price-item">
        <p class="item-title">Diesel</p>
        <p class="item-price">@PetrolStation.Diesel €</p>
      </div>
      <div class="price-item">
        <p class="item-title">Super (e5)</p>
        <p class="item-price">@PetrolStation.E5 €</p>
      </div>
      <div class="price-item">
        <p class="item-title">Super (e10)</p>
        <p class="item-price">@PetrolStation.E10 €</p>
      </div>
    </div>
  </div>

  <button class="btn-select" type="button" color="grey" outline="true">Auswählen</button>

</div>


@code {
	[Parameter]
	public PetrolStation? PetrolStation { get; set; }
	[Parameter]
	public bool IsOpen { get; set; }
}
